<form name="form" novalidate valid-submit="submitProject()" >
	<p>Text displayed for non-members</p>
	<textarea placeholder="" ng-model="project.textNonmembers"></textarea>
    <p>Text displayed for members</p>
	<textarea placeholder="" ng-model="project.textMembers"></textarea>
    <br>
    <p>What competences do you deem neccessary for this project</p>
     <category-picker result="project.skillIds" on-main="getMainSkills()" on-subcategory="getSkillSubcategory(cid)" key="'skills'"></category-picker>
	<input type="submit" value="Post project"/>
</form>
