
<div id="sidebar">
  <div id="playlistInfoBoxTitle">
    <p class="myPlaylistTitle">My Playlists</p>
  </div>
  <div class="jumbotron" id="playlistInfoBox">

    <p id="addlist" ng-click="showPlaylistForm = true" ng-show="!showPlaylistForm"><span class="glyphicon glyphicon-plus"></span> Create New Playlist</p>
    <form ng-submit="createNewList(list.name)" ng-show="showPlaylistForm">
      <ul class="list-inline">
        <li>
          <input type="text" placeholder="Playlist name" ng-model="list.name" class="form-control">
        </li>
        <li>
          <span class="glyphicon glyphicon-remove" ng-click="showPlaylistForm = false"></span></p>
        </li>
      </ul>
      <br>
    </form>
    <table class="table table-striped table-hover ">
      <thead>
      </thead>
      <tbody>
        <tr ng-repeat="list in user.lists">
          <td  ng-class="{ selectedElement: isActiveList(list.id)}" id="tableRowThin" ng-click="passPlaylist(list)">
            
            <form ng-submit="setNewName(list, newName)" ng-show="isEditable == list.id || isEditable == list.section_id" class="edit">
              <input type="text" ng-click="$event.stopPropagation()" class="form-control" placeholder="{{list.name}}" ng-model="newName" id="newName">
            </form> 
            <div class="listName" ng-hide="isEditable == list.id || isEditable == list.section_id">
              <p>{{list.name}}</p>
            </div>

            
          </td>
          <td ng-class="{ selectedElement: isActiveList(list.id)}" id="tableCellMini">
            <div ng-class="open ? 'btn-group open' : 'btn-group'" id="tableCellMiniDiv" ng-click="open = !open;$event.stopPropagation()">
              <span data-toggle="dropdown" class="glyphicon glyphicon-cog"></span>
              <ul class="dropdown-menu" id="pStyle" role="menu">
                <li ng-click="editName(list, $index);$event.stopPropagation();open = !open"><p>Edit name</p></li>
                <li ng-click="deleteAlert(list, $index);$event.stopPropagation();open = !open"><p>Remove list</p></li>
                
              </ul>
            </div>
          </td>

        </tr>

      </tbody>
    </table>



  </div>
  <div id="playlistInfoBoxTitle">
    <p class="myPlaylistTitle">My Collections</p>
  </div>
  <div class="jumbotron" id="playlistInfoBox">
    <addtopic></addtopic>
    <table class="table table-striped table-hover ">
      <thead>
      </thead>
      <tbody>
        <tr ng-repeat="topic in user.topics">
          <td  ng-class="{ selectedElement: isActiveTopic(topic.topicId)}" ng-click="search(topic.topicId, 'true')" id="tableRowThin">
            
            <div class="listName">
              <p>{{topic.name}}</p>
            </div>

          </td>

        </tr>

      </tbody>
    </table>

  </div>
  
</div>
