// =========================================================
//		GRID COLUMNS
// =========================================================

//calculate grid columns

.grid__col {
	@include mq(medium) {
		@include g-columns;
	}
}


// Column styles

[class^="grid__col--"] {
	
	//Small screens
	@include mq(small) {
		margin-top: em(12px);
		margin-bottom: em(12px);
	}

	//Larger screens
	@include mq(medium) {
		@include doubly(percentage($g-gutter-width / $context));
		float: left;
		min-height: 1px;
		padding-left: 10px;
		padding-right: 10px;
		&:last-of-type {
			float: right;
		}
	}
}