<h1 ng-show="!$parent.editorOn" class="idea-profile-title">
    <b>{{content}}</b> <a class="btn-idea-editor" ng-click="$parent.editorOn=true"> <i class="fa fa-pencil-square-o"></i> </a>
</h1>
<h1 ng-show="$parent.editorOn" class="idea-profile-title">
    <input ng-model="content" class="form-control form-control-edit">
    <a  class="btn-idea-editor" ng-click="save()"><i class="fa fa-floppy-o"></i></a> <span class="btn-idea-editor"> or</span>
    <a  class="btn-idea-editor" ng-click="cancel()"><i class="fa fa-times"></i></a>
</h1>