#loginBox {
	padding: 30px;
	padding-left: 50px;
	padding-right: 50px;
	width: 540px;
	border-radius: 8px !important;
}

#loginImg {
	width: 100%;
	margin: 0;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
	color: black;
	opacity:0.2;
}

#validBtn {
	float:right;
	margin-top: -30px;
	padding-right: 10px;
}
