    <div class="col-md-7 midContainer" >
        <div class="jumbotron" id="loginBox">
            <div style="text-align: center;">
                <ul class="list-inline">
                    <li>
                        <p ng-class="isRegister ? 'leadText':'leadTextSelected';" ng-click="isRegister = false">log in</p>
                    </li>
                    <li>
                        <p ng-class="isRegister ? 'leadTextSelected':'leadText';" ng-click="isRegister = true">sign up</p>
                    </li>
                </ul>
            </div>


        <div data-ng-show="isRegister">
            <form ng-submit="register($parent.registerCredentials)" class="simple-form">
                <input class="form-control" type="text" data-ng-model="$parent.registerCredentials.username" placeholder="Full name" >
                <div id="validBtn">
                    <p ng-show="$parent.registerCredentials.username.length < 4 || $parent.registerCredentials.username.length == null"><span id="glyphRed" class="glyphicon glyphicon-remove-sign"></span></p>
                    <p ng-show="$parent.registerCredentials.username.length > 3"><span id="glyphGreen" class="glyphicon glyphicon-ok-sign"></span></p>
                </div>
                <input class="form-control" type="text" data-ng-model="$parent.registerCredentials.email" placeholder="Email" >
                <div id="validBtn">
                    <p ng-show="!isValidEmail($parent.registerCredentials.email)"><span id="glyphRed" class="glyphicon glyphicon-remove-sign"></span></p>
                    <p ng-show="isValidEmail($parent.registerCredentials.email)"><span id="glyphGreen" class="glyphicon glyphicon-ok-sign"></span></p>
                </div>
                <input class="form-control pure-input-1-3" type="password" data-ng-model="$parent.registerCredentials.password" placeholder="Password">
                <div id="validBtn">
                    <p ng-show="$parent.registerCredentials.password.length < 4 || $parent.registerCredentials.password.length == null"><span id="glyphRed" class="glyphicon glyphicon-remove-sign"></span></p>
                    <p ng-show="$parent.registerCredentials.password.length > 3"><span id="glyphGreen" class="glyphicon glyphicon-ok-sign"></span></p>
                </div>
                <br>
                <button class="btn btn-success" type="submit">Register</button>
            </form>
            <br>

            <alert type="danger" ng-repeat="validationError in validationErrors">Error: {{validationError}}</alert>

        </div>
        <div data-ng-show="!isRegister">
            <form ng-submit="login($parent.loginCredentials)" class="simple-form">
                <input class="form-control" type="text" data-ng-model="$parent.loginCredentials.email" placeholder="Email" >
                <br>
                <input class="form-control pure-input-1-3" type="password" data-ng-model="$parent.loginCredentials.password" placeholder="Password">
                <br>
                <button class="btn btn-success" type="submit">Login</button>

               <!-- This should be hidden until done.  -->
               <!--  <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
                </fb:login-button> -->

                <div id="status"></div>

            </form>

            <alert type="danger" ng-repeat="validationError in validationErrors">Error: {{validationError}}</alert>
            <br>
        </div>
    </div>
    </div>
    <div class="col-md-5"></div>
