th {
	padding-right: 15px;
}

.searchFilter {
	padding-bottom: 10px;

}

.filter {
	width: 132px;
}

h3 {
	margin: 10px;
}
img {
	margin: 27px;
}

#sidebarIcons {
	float: right;
}
#subSidebarIcons {
	float: right;
	color: black;
}

#newName {
	width: 150px;
}

.subtext {
	color: black;
	display: inline;
}

.filterBar {
	padding-bottom: 20px;
	width: 540px;
}

#searchBtn {
	font-size: 19px;
}

#searchbar {
	width:250px;
	height: 46px;
	font-size: 22px;
	font-weight: lighter;

}