<div ng-controller="SearchCtrl">

    <div class="col-md-7 midContainer">
      <div class="filterBar">

          <div class="btn-group btn-group-justified">
            <label class="btn btn-primary" ng-model="searchType.type" btn-radio=""><span class="glyphicon glyphicon-asterisk" id="all"></span> All</label>
            <label class="btn btn-primary" ng-model="searchType.type" btn-radio="'video'"><span class="glyphicon glyphicon-film" id="video"></span> Video</label>
            <label class="btn btn-primary" ng-model="searchType.type" btn-radio="'text'"><span class="glyphicon glyphicon-pencil" id="text"></span> Text</label>
            <label class="btn btn-primary" ng-model="searchType.type" btn-radio="'url'"><span class="glyphicon glyphicon-link" id="link"></span> Link</label>
            <label class="btn btn-primary" ng-model="searchType.type" btn-radio="'more'"><span class="glyphicon glyphicon-record" id="more"></span> More</label>
          </div>
      </div>
      <h1 class="greyFontLg" id="leadResourceText">{{searchRes.topic.name}}</h1>
      <hr ng-show="searchRes.topic">
      <addresource ng-show="!showSubmit.value"></addresource>
      <div ng-show="showSubmit.value">
        <submit elements="searchRes.value" topic="searchRes.topic"></submit>
      </div>
      <div ng-repeat="element in searchRes.value | filter:element.types.type = searchType.type">
        <resource element="element" id="element{{$index}}"><resource>
      </div>
    </div>
    <div class="col-md-5">
  
    </div>

  </div>




