
<div >
  <ul>
    <li>
      <table class="table table-hover " id="listTable" ng-keyup="keyPress($event.keyCode, $index)" tabindex="1">
        <thead>
        </thead>
        <tbody ng-model="listElements.elements" id="listTableBody">
          <tr ng-repeat="resource in listElements.elements">
            <td ng-class="isSelected(resource)" ng-click="showResource(resource, $index)" id="tableCell" >
              <form ng-submit="setNewName(resource, newName)" ng-show="isEditable == resource.section_id" class="edit">
                <input type="text" ng-click="$event.stopPropagation()" class="form-control" placeholder="{{resource.name}}" ng-model="newName" id="newName">
              </form> 
              <div class="listName" ng-hide="isEditable == resource.section_id">
                
                <p ng-class="indentLevel(resource.level)" class="lead">
                  <span id="listSpan" ng-show="resource.section_id" class="glyphicon glyphicon-folder-close"></span>{{resource.name}}</p>

                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </li>
    </ul>
    
  </div>
  





