#playlistTable {
	display: inline;
}

#newPlaylist {
	padding-bottom: 10px;
}

.breadcrumb {
	background-color: #696969;
}

#bcText {
	color: white;
}

#caretDown {
	float:right;
	margin-top: 8px;
}

#caretUp {
	float:right;
	margin-top: 8px;
}

.selectedElement {
	background-color: #BBBBBB !important;
}

.selectedElement p {
	color:white;
}


#listSpan {
	padding-right: 5px;
	padding-left: 0px;
}

#listTable {
	margin-bottom: 0px !important;
}

.playlistTitle {
	font-size: 30px !important;
	text-align: center;
}

