@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,600);

@font-face {
  font-family: 'entypo';
  src:  url('../../../fonts/entypo.eot'); /* IE9 Compat Modes */
  src: url('../../../fonts/entypo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../../fonts/entypo.woff') format('woff'), /* Modern Browsers */
       url('../../../fonts/entypo.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../../fonts/entypo.svg#svgFontName') format('svg'); /* Legacy iOS */

}



.entypo {
  font-family: "entypo";
  font-size: 2em;
  position: relative;
  top: 4px;
}