#tabset {
	cursor: pointer;

}

#resourcebox {
	color: blue;
	background-color: black;
}

#homeBox {
	background-color: black;
	overflow: hidden;
}

#slideDown {
	width: 100%;
	background-color: #e7e7e7;
	z-index: 1000;
}

#homeInfoBox {  
	background-color:white;
 	border-radius: 8px;
 	margin: 5px;
 	margin-left: 0px;
}

#homeInfoBox h2 {
	text-align:center;
}

#homeInfoBox p {
	text-align:center;
}

#homeInfoBox a {
	text-decoration: none;
}

.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: white;
 }

#frontImage {
	width: 460px;
}

#frontBox {
	padding: 0px;
	height: 150px;
	width: 	650px;
	overflow: hidden;	
}

#frontBoxText {
	background-color: white;
	opacity: 0.8;
	height: 50px;
	width: 540px;
	margin-top: -80px;
}

#frontText {
	padding-left: 60px;
}
