#removeResource {
	float: right;
}

table:focus {
  outline: none;
}

#playlistInfoBoxTitle {
	padding: 1px;
	margin-bottom: 0;
	background-color: #E0E0E0;
	border-top-left-radius: 8px !important;
	border-top-right-radius: 8px !important;
}

#playlistInfoBoxTitle p {
	margin-bottom: 0px;
}



#playlistInfoBox {
	padding: 15px;
	margin-bottom: 15px;
	border-bottom-left-radius: 8px !important;
	border-bottom-right-radius: 8px !important;
	background-color: #E0E0E0;
	width: 230px;
}

.playlistName {
	color: white;
}

#moreBtn {
	z-index: 9999;
}

#myPlaylists {
	border-radius: 8px !important;

}

#myPlaylistHead {
	background-color: #fafafa;
	border-radius: 8px !important;
}

#panel-title {
	margin-bottom: 5px !important;
	text-align: center;
}

.listStyle {
	margin-bottom: 0px !important;
}

.listIndent {
	position: relative;
	margin-left: 20px;
	margin-bottom: 0px !important;
}

#pStyle {
	right: 0;
	left: auto;
	background-color: #BBBBBB;
}

.indent1 {
	margin-bottom: 0px !important;
}

.indent2 {
	margin-left: 20px;
	margin-bottom: 0px !important;
}

.indent3 {
	margin-left: 40px;
	margin-bottom: 0px !important;
}

.indent4 {
	margin-left: 60px;
	margin-bottom: 0px !important;
}

#listTableBody { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

#listTableBody {
    width: 100%;
}

#tableCell {
	width:170px;
}
#tableCellMini {
	width:15px;
	padding-top: 0px;
}
#tableCellMiniDiv {
	width: 100%;
}

.listName {
	height: 20px;
}

.myPlaylistTitle {
	font-size: 30px !important;
	text-align: center;
	color:#888888;
	font-weight: lighter;
	margin-bottom: 0px;
}

#addlist {
	margin-bottom: 10px;
	color: #888888;
	cursor: pointer;
}

#addlist:hover {
	margin-bottom: 10px;
	color: #888888;
	text-decoration: underline;
	cursor: pointer;
}

#sectionBox {
	margin: 5px;
	margin-bottom: 15px;
	background-color: white;
	border-radius: 5px;
	width: 570px;
	padding: 15px;
}

#sidebarList {
	position: fixed;

}

#sidebarList p{
	padding-left: 30px;

}
