<div class="playlistbar" ng-controller="MyContentCtrl" > 

  <div class="col-md-3">    
  </div>
  <div class="col-md-6">
    <div id="topPadding" class="midContainer">
      <div id="sectionBox">

        <h1 class="greyFontLg" id="leadResourceText">{{listElements.name}}</h1>
        <p class="greyFontSm" id="inline"> by {{listElements.poster.username}}</p>
        <hr>
        <ul class="list-inline">
          <li>
            <addresource ng-show="!showSubmit.value && listElements"></addresource>

          </li>
          <li>
          <modal name="'Change order'" ng-if="listElements.poster.id == user.userinfo.id" span="'refresh'" title="listElements.name" style="'greyFontSm verticalLine'">
            <div >
              <ul ui-sortable ng-model="listElements.elements">
                <li ng-repeat="e in listElements.elements">
                  <p class="greyFontSm" ng-if="!e.section_id">{{e.embedly.title}}</p>
                  <p class="greyFontMd" ng-if="e.section_id">{{e.name}}</p>
                </li>
              </ul>

                <button type="btn-default" ng-click="saveOrder(listElements.elements)">Save</button>
            </div>
          </modal>

        </li>
        <li>
          <p type="button" class="greyFontSm verticalLine" ng-show="starredList.value" ng-click="starList(listElements.id); starredList.value = !starredList.value"><span class="glyphicon glyphicon-star"></span> Star it!</p>
          <p type="button" class="greyFontSm verticalLine" ng-show="!starredList.value" ng-click="unstarList(listElements.id); starredList.value = !starredList.value"><span class="glyphicon glyphicon-star-empty"></span> Unstar</p>
        </li>
        <li>
          <p type="button" class="greyFontSm verticalLine" ng-show="!showSubtitleForm" ng-click="showSubtitleForm = true">Add subtitle</p>
          <p class="greyFontSm verticalLine">
          <form ng-submit="addSubtitle(subtitle.name)" ng-show="showSubtitleForm">
            <ul class="list-inline">
              <li>
                <input type="text" placeholder="Subtitle name" ng-model="subtitle.name" class="form-control">
              </li>
              <li>
                <span class="glyphicon glyphicon-remove" ng-click="showSubtitleForm = false"></span></p>
              </li>
            </ul>
            <br>
          </form>
          </p>
        </li>
      </ul>
<!--       <addsection elements="listElements.elements"></addsection>
-->
<div ng-show="showSubmit.value">
  <submit elements="listElements.elements"></submit>
</div>
<br>
<div ng-if="isPlaylist.value">
  <div ng-repeat="element in listElements.elements" class="elementRepeater" >
    <div ng-if="element.section_id">
      <ul class="list-inline" id="elementDescription">
        <li>
          <p class="greyFontMd">{{element.name}}</p>
        </li>
      </ul> 
    </div>
    <resource ng-if="!element.section_id" element="element" elements="listElements.elements" index="$index" id="element{{$index}}" class="resource"><resource>
      <div class="spacing">
      </div>
    </div>
  </div>
</div>
</div>

</div>
<div class="col-md-3">
  <div id="topPadding">
    <ul id="sidebarList">
      <li ng-repeat="subtitle in listElements.elements">
        <p class="greyFontSm" ng-if="subtitle.section_id">
          {{subtitle.name}}
        </p>
      </li>
    </ul>
  </div>
</div>

</div>
