#playlistBox {
	width: 540px;
	height: 80px;
	border-radius: 5px;
	background-color: #fafafa;
	margin-bottom: 10px;
	padding: 5px;
	overflow: hidden;
	white-space: nowrap;
}

#playlistBox:hover {
	width: 540px;
	height: 80px;
	border-radius: 5px;
	background-color: #fafafa;
	margin-bottom: 10px;
	padding: 5px;
	overflow: hidden;
	white-space: nowrap;

	-webkit-box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.4);
	box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.4);
}

#playlistImage {
	width: 160px;
 	height: 60px;
  	padding: 0px;
  	border-radius: 5px;
  	margin: 0px;
  	margin-left: 10px;
  	margin-top: -57px;
}

#playlistInsideBox {
	width: 260px;
	height: 100px;
	background-color: #E0E0E0;
	margin-top: -10px;
	margin-left: -5px;
	overflow: hidden;
}

#playlistBoxTitle {
	padding-left: 30px;
	padding-top: 5px;
	color: white;
}

#playlistInsideBoxRight {
	margin-top: 5px;
	vertical-align: top;
}