<div ng-controller="TopicCtrl">

    <div class="col-md-7">
      <div class="midContainer">

      <div ng-if="result.image_url" id="topicImageFrame">
        <img id="topicImg" ng-src="{{result.image_url}}">
      </div>
      <h1 class="greyFontLg" id="topicTitle" ng-if="result.image_url">{{result.name}}</h1>
      <br>
      <ul class="list-inline">
        <li>
          <p type="button" class="verticalLine greyFontXSm" ng-show="starred.value" ng-click="starTopic(result); starred.value = !starred.value"><span class="glyphicon glyphicon-star-empty"></span> Star it!</p>
          <p type="button" class="verticalLine greyFontXSm" ng-show="!starred.value" ng-click="unstarTopic(result.id); starred.value = !starred.value"><span class="glyphicon glyphicon-star"></span> Unstar</p>
        </li>
        <li>
          <div>

            <p class="verticalLine greyFontXSm" ng-click="showDescForm = !showDescForm;"> Add New Description </p>
          </div>
        </li>
        <li>
          <div>

            <p class="verticalLine greyFontXSm" ng-click="showImageForm = !showImageForm;"><span class="glyphicon glyphicon-plus"></span> Change Image </p>
          </div>
        </li>
        <li>
          <addresource ng-show="!showSubmit.value"></addresource>
        </li>
      </ul>
      <div ng-show="showImageForm">
        <form ng-submit="addImage(image, result)">
          <input type="text" placeholder="Paste in picture url" ng-click="$event.stopPropagation()" class="form-control" ng-model="image.url">
          <button type="submit" ng-show="false" class="btn btn-success">Save</button>
        </form>
      </div>
      <div id="description">
        <p ng-show="!showDescForm" class="greyFontSm">{{result.description}}</p>
        <div ng-show="showDescForm">
          <form ng-submit="addDesc(result.description, result.id)">
            <input type="text" ng-click="$event.stopPropagation()" class="form-control" ng-model="result.description">
            <button type="submit" ng-show="false" class="btn btn-success">Save</button>
          </form>
        </div>

      </div>
      <hr>
      <div ng-show="showSubmit.value">
        <submit elements="result.resources" collection="result"></submit>
      </div>

      <div ng-repeat="element in result.resources | reverse" >
          <resource element="element" id="element{{$index}}" elements="result.resources" poster="result.poster" index="$index"><resource>
      </div>
      </div>
    </div>
    <div class="col-md-5" id="sidebar">
      <div class="midContainer" id="navbar">


        <ul class="list-inline" id="breadcrumb">
          <li ng-if="result.parentCollections"><a ui-sref="topic({id: result.parentCollections.id})"><p class="greyFontSm">{{result.parentCollections.name}}</p></a>
          </li>
          <li><i class="fa fa-angle-right"></i></li>
          <li class="active"><p class="greyFontSm">{{result.name}}</p>
          </li>
        </ul>
        <hr id="navbarHR">
          <ul class="sidebar">
            <li class="sidebar-list" ng-repeat="subcollection in result.subCollections">
              <a class="textindent18" ui-sref="topic({id: subcollection.id})">{{subcollection.name}}</a>
            </li>
            <li>
              <hr id="navbarHR">
              <br>
              <addtopic class="textindent10" topic="result"></addtopic>
            </li>
          </ul>
        </div>

    </div>

  </div>




