.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

.browse, .addIdea {
  width: 1000px;
  display: table;
  margin: 0px auto;
  margin-top: 100px;
}

.carousel-indicators {
  display: none;
}

.icon-bar-nav {
  display: block;
  background: black;
  width: 22px;
  height: 1px;
  border-radius: 1px;
  margin-bottom: 5px;
}

.navbar-toggle-nav {
  position: relative;
  float: right;
  padding-top: 9px;
  padding-bottom: 5px;
  padding-left: 7px;
  padding-right: 7px;
  margin-right: 5px;
  background-image: none;
  border: 1px;
  border-radius: 4px;
  background-color: white;
}

.fa-caret-down {
  color: black;
}

.navbar-toggle-nav:hover {
  opacity: 0.4;
  background-color: #F1EEEE;
}

body {
  background: #f7f7f7;
  z-index: -1;
  min-height: 100%;
}

.common-header {
  background: #fff;
  z-index: 1;
  position: relative;
  border-bottom: 1px solid #d4d4d4;
}

.navbar-search-box {
  margin-left: 0;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 0px;
  width: 188px;
}

.btn-search {
  height: 34px;
}

.navbar-header-li-container > ul {
  float: none;
  display: table;
  margin: 0 auto;
  padding: 0;
}

.navbar-header-li-ul > li > a {
  font-size: 14px;
  font-style: bold;
  color: #1e1e1e;
}

.side-nav-left {
  margin-left: -225px;
  left: 225px;
  width: 225px;
  position: fixed;
  top: 50px;
  height: 100%;
  border-radius: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  background: #FFF;
  border: 1px solid #d4d4d4;
  > ul {
    > li > a {
      width: 225px;
      color: #999;
      padding: 7px 10px 7px 15px;
    }
    &.navbar-nav-categories-popular {
      border-top: 2px solid #f7f7f7;
      > li.side-nav-categories-popular-main > a {
        &:hover, &:active, &:focus {
          color: orange;
          background-color: #FFF;
        }
      }
    }
    > li.side-nav-categories-popular > a {
      padding-top: 7px;
      padding-bottom: 7px;
      padding-left: 25px;
    }
  }
}

.side-nav-categories-popular-more {
  margin-top: 5px;
  height: 35px;
}

.dropdown-submenu2 {
  border-radius: 0;
  position: fixed;
}

.dropdown-menu-mod {
  &:hover, &:active, &:focus {
    color: #FFF;
    background-color: #FFF;
  }
}

li.dropdown-submenu2 > a {
  color: #999;
  padding-left: 35px;
  width: 225px;
}

.dropdown-menu-mod {
  border: none;
  box-shadow: none;
  position: absolute;
  z-index: 1;
  > .dropdown-submenu2:hover {
    background-color: #080808;
  }
}

.dropdown-submenu2 > .dropdown-menu {
  left: 140px;
  margin-top: -120px;
}

ul.dropdown-menu-mod1 > .dropdown-menu-mod1-li {
  color: #999;
}

.side-nav-right {
  width: 350px;
  border-radius: 0;
  overflow-y: auto;
  background: #f7f7f7;
  list-style-type: none;
}

.other-ideas-container {
  position: absolute;
  border: none;
  float: right;
  min-height: 100%;
  right: 30px;
  top: 50px;
}

.side-nav-right > li.side-nav-right-idea-container {
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 0;
  padding: 0;
}

.sid-nav-right-title {
  font-weight: 700;
  margin: 0;
  padding: 0 0 0 8px;
}

.side-nav-right-idea-container:hover {
  background: #f0f0f0;
  opacity: .8;
}

.other-ideas-text {
  font-size: 11px;
  font-style: default;
  color: default;
  &:hover {
    color: #fe9a2e;
  }
}

.image-inside-thumb-container-other-ideas {
  width: 110px;
  height: 80px;
  overflow: hidden;
  position: relative;
  padding: 0;
}

.image-inside-other-ideas-element {
  outline: #898989 none 0;
  width: 100%;
  height: auto;
  margin: -100px -1055px 100px -105px;
  padding: 0;
}

.common-header-home {
  background: #fff;
  color: #000;
  box-shadow: -2px 1px 1px #505050;
  z-index: 50;
}

.navbar-header-home > li {
  &:hover {
    background-color: #121212;
  }
  > a {
    font-size: 120%;
    font-style: bold;
  }
}

.icon-bar {
  background: #FFF;
}

.nav-tabs {
  border-bottom: 0 solid #ddd;
  margin-left: 0;
  padding-left: 0;
  > li {
    float: left;
    margin-bottom: 0;
    padding-right: 60px;
    text-decoration: none;
    list-style-type: none;
    > a {
      line-height: 1.428571429;
      border: 0 solid transparent;
      border-radius: 0;
    }
    &.active > a {
      color: #000;
      background: #FFF;
      border: 0 solid #000;
      border-bottom: 0 solid #000;
      cursor: default;
      &:hover, &:focus {
        color: #000;
        background: #FFF;
        border: 0 solid #000;
        border-bottom: 0 solid #000;
        cursor: default;
      }
    }
    > a:hover {
      background: #FFF;
      border-bottom: 1px solid #000;
      padding-bottom: 0;
      border-color: #eee #eee #ddd;
    }
  }
}

.carouselin-thumb {
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  padding-top: 0;
}

.carousle-modified {
  margin-left: auto;
  margin-right: auto;
  width: 801px;
}

.carousel-inner {
  width: 940px;
  margin: 0px auto;
}

.col-3-thumb-modified {
  width: 220px;
  padding: 0px;
  margin: 10px;
  &:first-child {
    margin-left: 0px;
  }
  &:last-child {
    margin-right: 0px;
  }
}

.thumbnail-containter-idea {
  width: 220px;
  height: 290px;
}

.thumbnail-modified-ideas {
  box-shadow: rgba(0, 0, 0, 0.11765) 0 2px 2px 0;
  color: #898989;
  position: relative;
  text-align: left;
  border-radius: 4px 4px 4px 4px;
  font: normal normal normal 12px / 18px arial, "helvetica neue", helvetica, sans-serif;
  outline: #898989 none 0;
  width: 100%;
  height: 290px;
  background: #FFF;
  padding: 0;
}

.image-inside-thumb-container-ideas {
  overflow: hidden;
  position: relative;
  height: 50%;
  width: 100%;
  border-radius: 5px 5px 0 0;
  padding-top: 0;
}

.image-inside-ideas-element {
  border: 0 none #898989;
  border-radius: 4px 4px 0 0;
  outline: #898989 none 0;
  height: auto;
  margin: -71px -75px -71px -71px;
  padding: 0;
}

.caption-modified-ideas {
  height: 50%;
  width: 100%;
  padding-left: 10px;
  padding-right: 5px;
  h5 {
    font-family: default;
    margin-bottom: 0;
    margin-top: 8px;
  }
}

.thumbnail-modified-other-ideas {
  box-shadow: rgba(0, 0, 0, 0.11765) 0 2px 2px 0;
  position: relative;
  text-align: left;
  border: 0 none #898989;
  font: normal normal normal 12px / 18px arial, "helvetica neue", helvetica, sans-serif;
  outline: #898989 none 0;
  width: 171px;
  height: 107px;
  background: #FFF;
  padding: 0;
}

.caption-modified-other-ideas {
  height: 43px;
  width: 171px;
  padding-top: 1px;
  padding-left: 5px;
  padding-right: 5px;
  background: #FFF;
  border-bottom: 1px solid silver;
}

.thumbnail-modified-title {
  color: #000;
  font-size: 130%;
  font-family: default;
  height: 34px;
}

.caption-modified h5 {
  font-size: 14px;
  font-family: default;
}

.thumbnail-modified-desc {
  height: 60px;
}

.by-name-text {
  margin-left: 21px;
  color: #444;
  font-size: 12px;
}

.glyp-thumb-modified {
  margin-top: 0;
  bottom: 5px;
}

.thumbnail-text-what {
  margin-bottom: 0;
}

.carousel-control {
  .glyphicon-chevron-left, .glyphicon-chevron-right, .icon-prev, .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-right: -5px;
    font-size: 25px;
  }
  .icon-prev, .icon-next, .glyphicon-chevron-left, .glyphicon-chevron-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-left: -5px;
  }
}

.carousel-container {
  width: 1070px;
  margin: 0px auto;
}

.profile-image-inside-thumb-container {
  float: left;
  overflow: hidden;
  border-radius: 5px 5px 5px 5px;
  padding-top: 0;
  height: 17px;
  width: 17px;
}

.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  opacity: .9;
  filter: alpha(opacity = 50);
  font-size: 14px;
  color: grey;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  &.left {
    background-image: none;
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#80000000',endColorstr='#00000000',GradientType=1);
    width: 25px;
  }
  &.right {
    background-image: none;
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#00000000',endColorstr='#80000000',GradientType=1);
    width: 25px;
  }
}

.common-footer-container {
  background: #232e35;
  box-shadow: -2px 1px 1px gray;
}

footer ul.breadcrumb {
  background: #000;
  display: table;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin: 0 auto;
  li {
    text-shadow: none;
    a {
      color: #FFF;
      background: #000;
    }
  }
}

.common-footer {
  background: #000;
  display: table;
  margin: 0 auto;
}

.home-intro {
  background-size: cover;
  padding-bottom: 20px;
}

.home-intro-para {
  padding-top: 20px;
  color: #fafafa;
  font-size: 18px;
}

.home-intro-domain-para {
  color: #ADD8E6;
}

.home-intro-video-container {
  display: table;
  width: 498px;
  margin: 0 auto;
}

iframe {
  width: 498px;
  height: 214px;
}

.home-intro-button-container {
  margin-top: 15px;
  margin-bottom: 10px;
}

.home-intro-button {
  width: 48%;
  font-size: 14px;
}

.home-intro-search {
  margin-top: 10px;
  width: 498px;
  margin-bottom: 10px;
}

.popular-idea-tab-nav {
  font-size: 11px;
  padding-bottom: 10px;
  display: table;
  width: 744px;
  margin: 0 auto;
}

.popular-ideas-category {
  display: inline;
  margin-right: 30px;
  color: #4b4b4b;
}

.popular-ideas-category-first {
  margin-left: 15px;
}

.popular-ideas-category a {
  color: #4b4b4b;
  &:hover {
    text-decoration: none;
    color: #000;
  }
}

.common-popular-idea-container {
  background: #fdfdfd;
  box-shadow: 1px 1px 1px #d8d8d8 inset;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.popular-par {
  font-family: default;
  font-size: 220%;
}

.popular-idea-more-para-container {
  display: table;
  width: 744px;
  padding-right: 25px;
  margin: 0 auto;
}

.idea-more-para {
  text-align: center;
  font-style: default;
  font-size: 12px;
  a {
    color: #333;
    font-size: 14px;
    &:hover {
      text-shadow: 3px 3px 3px #ccc;
      text-decoration: none;
    }
  }
}

.home-idea-area-container {
  background: #f3f6f6;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.home-idea-area-par-container {
  display: table;
  background: #f3f6f6;
  margin: 0 auto;
}

.home-idea-area-tab-nav {
  background: #f3f6f6;
  display: table;
  width: 1046px;
  padding-bottom: 10px;
  margin: 0 auto;
}

.hom-idea-area-tab-nav > ul > li {
  width: 500px;
  padding-left: 100px;
}

.home-idea-area-more-para-container {
  background: #f3f6f6;
  display: table;
  width: 1046px;
  padding-right: 25px;
  margin: 0 auto;
}

.home-find-teams-container {
  background: #fdfdfd;
  padding-bottom: 20px;
}

.home-find-teams-row-container {
  display: table;
  width: 744px;
  margin: 0 auto;
}

.home-glyp-cam {
  zoom: 4;
  text-align: center;
  -moz-transform: scale(2);
  color: #444;
}

.home-find-team-icon {
  text-align: center;
  font-size: 120%;
  display: table;
  margin: 0 auto;
  &:hover {
    text-shadow: 3px 3px 3px #ccc;
  }
}

.home-find-team-col:hover {
  background: lightgray;
}

.home-find-teams-more-para {
  padding-right: 40px;
}

.second-row-icons-home-page {
  margin-bottom: 13px;
}

.home-idea-name-container {
  box-shadow: 1px 1px 1px #d8d8d8 inset;
}

.home-idea-name-para {
  display: inline-block;
  margin: 0 auto;
}

.home-idea-name-carousel-caption-title {
  position: absolute;
  left: 15%;
  right: 15%;
  top: 5px;
  z-index: 80;
  padding-top: 10px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.home-idea-name-img {
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: cover;
}

.home-idea-name-carousel-caption-more-para {
  position: absolute;
  bottom: 5px;
  right: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.carousel-control-idea-area-left {
  right: auto;
  padding-left: 120px;
}

.carousel-control-idea-area-right {
  padding-right: 120px;
  left: auto;
}

.idea-profile-other-ideas-super-containter {
  background: #ecf8e0;
  position: fixed;
  height: 320px;
  width: 171px;
  left: 50%;
  overflow: hidden;
  border: 1px solid rgba(192, 192, 192, 0.8);
  border-radius: 0;
}

.idea-profile-other-ideas-containter {
  width: 171px;
  height: 107px;
  border-bottom: 5px solid rgba(192, 192, 192, 0.8);
}

.team-box {
  display: table;
  font-size: 11px;
  margin: 0 auto 0 100px;
}

.team-box-sub-header {
  color: #383838;
}

.team-box a {
  color: default;
  font-size: default;
}

.idea-profile {
  width: 100%;
}

.idea-profile-container {
  float: none;
  background: #fff;
  padding-box: border-box;
  border-left: 1px solid #d0d5cb;
  border-right: 1px solid #d0d5cb;
  border-radius: 0;
  outline: #121a0d none 0;
  padding-bottom: 30px;
  width: 736px;
  z-index: -1;
  margin: 50px auto 0;
}

.image-inside-other-ideas-container {
  float: left;
  overflow: hidden;
  height: 60%;
  width: 100%;
  padding-top: 0;
}

.idea-profile-title {
  font-style: default;
  font-family: default;
  margin-top: 10px;
  padding-top: 0;
  margin-bottom: 2%;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 24px;
}

.idea-profile-image-container {
  overflow: hidden;
  width: 736px;
  border-bottom: 1px solid #ccc;
  height: 250px;
  border-radius: 0;
  padding-top: 0;
  z-index: 1;
  position: relative;
}

.well {
  display: table;
  width: 736px;
  color: #898989;
  z-index: -1;
  position: relative;
  margin: -100px -105px -100px -100px;
  padding: 0;
}

.idea-profile-why-what-container {
  display: table;
  background: #FFF;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0 auto;
}

.idea-profile-what-why-date-view {
  display: table;
  background: #FFF;
  padding-bottom: 0;
  margin: 0 auto;
}

.idea-profile-date-view {
  padding-top: 5px;
  height: 24px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.col-lg-4-date-view {
  height: 24px;
}

.idea-profile-after-liking-text-A {
  font-size: 15px;
  margin-top: 10px;
}

.idea-profile-after-liking-text-B {
  font-size: 25px;
  margin-top: -13px;
}

.idea-profile-after-liking-team-leader-contact-btn {
  width: 60px;
  font-size: 17px;
  margin: -5px 2px 10px;
}

.like-idea-icon {
  font-size: 50px;
  margin-top: -5px;
  color: green;
  &:hover {
    color: #006400;
  }
}

.written-by-message-btn {
  height: 18px;
  border-radius: 2px;
  width: 74px;
  margin: 0;
  padding: 0;
}

.media-body > h4 {
  padding-bottom: 4px;
  margin: 0;
}

.written-by-message-btn-para {
  font-size: 10px;
  height: 8px;
  margin: 0;
  padding: 2px 0;
}

.written-by-profile-btn {
  margin-right: 1%;
  font-size: 80%;
  height: 18px;
  p {
    vertical-align: middle;
  }
}

.image-inside-thumb-project-member {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.project-page-text-from-team-leader {
  margin-top: 25px;
}

.image-inside-thumb-written-by {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.written-by {
  height: 40px;
  margin-top: 0;
  margin-bottom: 10px;
}

.written-by-heading {
  font-size: 100%;
}

.idea-profile-what {
  font-size: 13px;
  font-style: default;
  padding-left: 15%;
  padding-right: 2%;
}

.idea-profile-why {
  font-size: 13px;
  font-style: default;
  padding-left: 2%;
  padding-right: 15%;
}

.idea-profile-description-container {
  display: table;
  background: #fff;
  margin: 0 auto;
}

.idea-profile-description {
  padding-left: 7%;
  padding-right: 7%;
  font-size: 13px;
  font-style: default;
}

.idea-profile-description-right-left-container {
  padding-right: 0;
  padding-left: 0;
  height: 65px;
}

.idea-profile-description-right-left {
  float: left;
  overflow: hidden;
  border: 1px solid #ccc;
  width: 100%;
  height: 100%;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

.idea-profile-description-right-img-left {
  color: #898989;
  border-radius: 0;
  margin: -100px -105px -100px -100px;
  padding: 0;
}

.idea-profile-description-right-right-container {
  padding: 0 0 0 5px;
}

.idea-profile-description-right-right {
  width: 100%;
  background: #FFF;
  margin: 0;
  padding: 0;
}

.idea-profile-h6, .idea-profile-h4, .idea-profile-h5 {
  margin: 0;
  padding: 0 0 5px;
}

.idea-profile-h4 {
  zoom: 2;
  color: #58fa58;
}

.idea-profile-description-right-glyphicon {
  margin: 0;
  padding: 0;
}

.idea-profile-gly-us, .idea-profile-gly-thu, .idea-profile-gly-glo, .idea-profile-gly-us {
  zoom: .8;
  -moz-transform: scale(2);
  color: gray;
}

.idea-profile-gly-size {
  font-size: 12px;
  padding: 0;
}

.home-logged-in-welcom-user-container {
  background: #FFF;
  margin-top: 20px;
}

.home-logged-in-welcom-user {
  display: table;
  width: 1046px;
  padding-left: 6px;
  padding-right: 10px;
  margin: 0 auto;
}

.home-logged-in-button-width-news {
  width: 50%;
  border-radius: 4px 0 0 4px;
}

.home-logged-in-button-width-notification {
  width: 50%;
  border-radius: 0 4px 4px 0;
}

.home-logged-in-search {
  padding-top: 20px;
  padding-right: 18px;
}

.home-logged-in-challenges-container {
  background: #e5e4e2;
  box-shadow: 1px 1px 1px #d8d8d8 inset;
  padding-top: 10px;
  padding-bottom: 30px;
}

.home-logged-in-category-container {
  padding-top: 10px;
  padding-bottom: 30px;
  background: #FFF;
  box-shadow: 1px 1px 1px #d8d8d8 inset;
}

.home-logged-in-recommended-challenges-container {
  padding-top: 10px;
  background: #e5e4e2;
  box-shadow: 1px 1px 1px #d8d8d8 inset;
}

.home-logged-in-recommended-challenges-content-container {
  display: table;
  width: 1046px;
  margin: 0 auto;
}

.multiple-teams-thumbnail-group {
  margin-bottom: 20px;
  background: lightgray;
  padding-bottom: 20px;
}

.multiple-teams-up-title {
  background: #f3f781;
  margin: 0 20px 0 0;
  padding: 0;
}

.multiple-teams-thumb-container-up-right {
  background: lightgray;
  margin-top: 40px;
  margin-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  height: 257px;
}

.multiple-teams-thumbnail-group-list {
  margin-bottom: 10px;
  border: 1px solid lightgray;
  background: lightgray;
}

.multiple-teams-up {
  margin-top: 20px;
  margin-left: 20px;
}

.multiple-teams-main-up-left-more {
  bottom: 20px;
  padding-right: 20px;
}

.mulitple-teams-main-icon-button-join {
  margin-top: 15px;
  margin-bottom: 10px;
  margin-right: 30px;
}

.mulitple-teams-main-icon {
  width: 7%;
  background: #FFF;
}

.mulitple-teams-main-button {
  width: 90%;
}

.multiple-teams-main-button-intro {
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 30px;
}

.col4-profile-contact {
  height: 200px;
  width: 300px;
}

.profile-contact-img-container {
  float: left;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
  padding-top: 0;
  margin-bottom: 20px;
  height: 100%;
  width: 100%;
}

.profile-contact-img {
  color: #898989;
  border: 0 none #898989;
  border-radius: 4px 4px 0 0;
  font: normal normal normal 12px / 18px arial, "helvetica neue", helvetica, sans-serif;
  outline: #898989 none 0;
  margin: -100px -105px -100px -100px;
  padding: 0;
}

.profile-contact-btn-width {
  border-radius: 0;
  margin-top: 15px;
}

.profile-contact-thumb-name, .profile-contact-thumb-txt, .profile-contact-thumb-comp, .profile-recommend-thumb-recom, .profile-idea-teams-thumb-idte, .profile-favorite-thumb-favoid {
  margin-bottom: 20px;
  border-radius: 0;
  text-align: center;
  box-shadow: 0 0 1px 1px #e6e0f8;
}

.profile-recommend-thumb-recom {
  height: 300px;
}

.profile-idea-teams-thumb-idte, .profile-favorite-thumb-favoid {
  height: 400px;
}

.profile-contact-thumb-txt, .profile-contact-thumb-comp {
  height: 232px;
}

.project-profile-navigator-box {
  background: #ecf8e0;
  height: default;
  width: 188px;
  margin-left: 50px;
  margin-top: 15px;
  border: default;
  position: fixed;
  padding-top: 0;
}

.project-profile-members {
  background: default;
  margin-top: 20px;
}

.project-page-logged-in-title-par {
  padding-bottom: 15px;
}

.project-page-logged-in-main-left-thumbnail-group {
  margin-bottom: 20px;
  background: #ADD8E6;
}

.project-page-logged-in-thumbnail-forum {
  box-shadow: 0 0 1px 1px #e6e0f8;
  height: 200px;
}

.project-page-logged-in-main-right-team-leader-post-thumbnail {
  margin-bottom: 40px;
  height: 100px;
  box-shadow: 0 0 1px 1px #e6e0f8;
}

.project-page-logged-in-main-right-user-post-thumbnail {
  height: 1000px;
  box-shadow: 0 0 1px 1px #e6e0f8;
}

.project-member-box {
  height: 80px;
}

.project-member-box-profile-btn {
  margin-right: 1%;
  font-size: 90%;
  height: 24px;
}

.project-member-box-message-btn {
  margin-left: 1%;
  font-size: 90%;
  height: 24px;
}

.search-bar {
  padding: 15px;
}

.body-search-main {
  margin-top: 40px;
  margin-bottom: 20px;
}

.panel-heading .panel-toggle {
  &:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
  }
  &.collapsed:after {
    content: "\e080";
  }
}

.search-main-right-idea-row {
  margin-bottom: 20px;
}

.search-main-right-thumbnail {
  border-radius: 4px;
  display: block;
  margin: 0;
  padding: 0;
  &:hover {
    box-shadow: 0 0 2px 2px #e6e0f8;
  }
}

.search-main-right-glyph-user, .search-main-right-glyph-thumbs-up, .search-main-right-glyph-globe {
  color: gray;
  zoom: .9;
  -moz-transform: scale(2);
}

.search-main-right-img {
  display: table;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin: 0;
  padding: 0;
}

.search-main-right-glyp-size {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.form-control.navbar-search-box-font, .home-intro-search-text {
  font-size: 10px;
}

.navbar-header-li-ul, .header-container-home, .home-intro-para-container, .popular-idea-par-container, .home-find-teams-para-container, .home-logged-in-related-area-par-container, .home-logged-in-challenges-par-container, .home-logged-in-category-par-container, .home-logged-in-recommended-challenges-par-container, .home-logged-in-recommended-challenges-more-para-container, .search-more {
  display: table;
  margin: 0 auto;
}

.side-nav-left > ul > li {
  &.side-nav-top > a {
    &:hover, &:active, &:focus {
      color: #FFF;
      background-color: #080808;
    }
  }
  &.side-nav-categories-popular > a {
    &:hover, &:active, &:focus {
      color: #FFF;
      background-color: #080808;
    }
  }
}

.dropdown-menu-mod > .dropdown-submenu2 {
  &:hover, &:active, &:focus {
    color: #FFF;
    background-color: #080808;
  }
}

.side-nav-left > li.dropdown1 > ul.dropdown-menu1 > li > a {
  &:hover, &:active, &:focus {
    color: #FFF;
    background-color: #080808;
  }
}

li.dropdown-submenu2 > a:hover, ul.dropdown-menu-mod1 > .dropdown-menu-mod1-li > a:hover {
  background-color: #080808;
  color: #FFF;
}

.dropdown-submenu2:hover > .dropdown-menu, .idea-profile-title-container {
  display: table;
}

.sid-nav-right-image, .home-idea-area-tab-nav-li-edges {
  padding: 0;
}

.nav-home > li > a:hover, .nav > li > a:focus, #idea-2 > section > a {
  text-decoration: none;
}

.thumbnail-modified-ideas:hover, .thumbnail-modified:hover, .idea-profile-other-ideas-containter:hover {
  -webkit-filter: brightness(95%);
}

.carousel-control:hover, .find-team-caption-para:hover, #idea-2 > section > a > p:hover {
  color: #000;
}

.home-idea-area, .home-idea-area-tab-content {
  background: #f3f6f6;
}

.home-idea-area-tab-nav > ul > li {
  &.active > a {
    background: #f3f6f6;
    &:hover, &:focus {
      background: #f3f6f6;
    }
  }
  > a {
    &:hover, &:focus {
      background: #f3f6f6;
    }
  }
}

.home-teams-cont, .first-row-icons-home-page, .team-box-button-section, .idea-profile-like-this-idea p, .idea-profile-description-right-individ-container {
  margin-top: 20px;
}

.btn-getintouch, .btn-jointeam {
  font-size: 110%;
}

.idea-profile-like-this-idea, .idea-profile-after-liking {
  background: #eef5fa;
  font-style: default;
  font-size: 33px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.idea-profile-what-why-heading, .project-member-box p {
  font-size: 90%;
}

.home-logged-in-related-area-more-para-container, .home-logged-in-challenges-more-para-container, .home-logged-in-category-more-para-container {
  display: table;
  width: 1046px;
  padding-right: 25px;
  margin: 0 auto;
}

.multiple-teams-title-container, .project-page-logged-in-title-container {
  display: table;
  margin: 20px auto 0;
}

.multiple-teams-team-leader, .project-page-logged-in-main-left-team-leader {
  margin-left: 2px;
}

.multiple-teams-description-main-up-left-glyph-usr, .project-page-logged-in-main-left-glyp-user {
  zoom: 3;
  width: 100%;
}

.profile-main-container, .profile-user-recommendation, .profile-ideas-teams, .profile-favorite-idea, .project-page-logged-in-container, .search-main-container {
  display: table;
  width: 1046px;
  margin: 0 auto;
  padding: 15px;
}