<div class="infoBox">
	<ul class="list-inline">
<!-- 					<li>
			<p class="greyFontSm" id="checkIcon"><span ng-model="boxChecked" ng-click="boxClicked()" class="glyphicon glyphicon-check"></span></p>
		</li> -->
		<li>
			<span class="glyphicon glyphicon-remove" ng-if="poster.id == $root.user.id" id="removeTop" ng-click="removeResource(element, index, elements)"></span>
		</li>
		<li>
			
			<modal name="'add to collection'" style="'greyFontXSm'" resource="element" modid="'4'" ng-click="getElement(element)">
				<div ng-if="$root.user.collections == null">
					<p class="lead">You need to login first!</p>
				</div>
				<table class="table table-striped table-hover ">
					<thead>
					</thead>
					<tbody>
						<tr ng-repeat="collection in $root.user.collections">
							<td ng-click="addToCollection(collection, element)" data-dismiss="modal">
								
								<div class="listName">
									<p>{{collection.name}}</p>
								</div>


								
							</td>

						</tr>

					</tbody>
				</table>

			</modal>
		</li>

		<li>
			<p class="greyFontXSm verticalLine" ng-if="!voted.value" id="voteUp"><span class="glyphicon glyphicon-thumbs-up" ng-click="vote(element.id)" ></span></p>
			<p class="greyFontXSm-inactive verticalLine" ng-if="voted.value"  id="voteUp-inactive"><span class="glyphicon glyphicon-thumbs-up" ></span></p>
		</li>		
		<li>
			<p class="greyFontXSm">{{votes}}</p>
		</li>
		<li>
			<p class="greyFontXSm verticalLine" ng-click="note.edit = true">add note</p>
		</li>

	</ul>
	<p class="lead" id="resourceProv" ><img ng-src="{{element.provider_favicon}}">{{element.provider_name}}</p>

</div>

