#submitBtn {
	padding-top: 10px;
}

#inputField {
	padding-bottom: 10px;
	padding-top: 10px;
}

.panel-heading {
    cursor: pointer;
}

.leadText {
	font-size: 40px !important;
	padding-right: 5px;
	padding-left: 5px;
}

.leadTextSelected {
	font-size: 40px !important;
	color: white;
	background-color: orange;
	padding-right: 5px;
	padding-left: 5px;
	border-radius: 5px;
}

#cell {
	height: 150px;
	width: 32%;
	min-width: 120px;
	max-width: 300px;
	display:inline-block;
	text-align: center;
}

.submitTable {
	width:100%;
}

#or {
	height: 150px;
	width: 8%;
	display: inline-block; 
	text-align: center;
	cursor: default;
}

#or div {
	display: table;
	height: 100%;
	width: 100%;
}

#or div p {
	display: table-cell;
	vertical-align: middle;
}

#categoryBtn {
	height: 100%;
	width: 100%;
	text-align: center;
	border-radius: 15px;
	text-align: center;
	display: table;
	text-transform: none;
	white-space: normal;
}

#categoryBtn p {
	display: table-cell;
	vertical-align: middle;
}

.active {
	
}

.active_hover {
	background-color: red;
}

.inactive {
	background-color: #696969;
}

.inactive_hover {
	background-color: blue;
}