#collectionBox {
	width: 195px;
	border-radius: 3px;
	background-color: white;
	margin-bottom: 10px;
	padding: 5px;
	overflow: hidden;
	white-space: nowrap;
}

#collectionBox:hover {
	width: 195px;
	height: 50px;
	border-radius: 3px;
	background-color: #e7e7e7;
	margin-bottom: 10px;
	padding: 5px;

	-webkit-box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.4);
	box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.4);
}

#collectionBox p {
	margin: 0px;
	padding: 0px;
	margin-top: -5px;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #888888;
}

#collectionListImage {
	width: 40px;
	height: 40px;
	padding: 0px;
	margin: 0px;
	margin-top: -10px;
}